<div class="container">
  <h2>Listado de Pacientes</h2>
  <div *ngIf="pacientes.length > 0; else noPatients">    
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let paciente of pacientes">
        <img [src]="getImagenURL(paciente)" alt="Foto de {{ paciente.nombre }}" class="patient-image">
        <h3>{{ paciente.nombre }}</h3>
        <div class="buttons-container">
          <button (click)="actualizarPaciente(paciente._id)" class="custom-btn custom-btn-primary">Actualizar</button>
          <button (click)="eliminarPaciente(paciente._id)" class="custom-btn custom-btn-danger">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noPatients>
    <p>No hay pacientes agregados.</p>
  </ng-template>
</div>
